* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("assets/images/background.png");
  font-family: "Arial", sans-serif;
}

h1 {
  color: #c55394;
  font-family: "Courgette", sans-serif;
}

h2,
h3 {
  color: #eb43a3;
  font-family: "Courgette", "cursive";
}

.title {
  font-family: "Courgette", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

nav {
    margin-top: 10px;
}

li a {
  color: #fff;
  font-size: 0.7rem;
  text-decoration: none;
}

header {
  text-align: center;
  padding: 15px 0;
  background-color: #c55394;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-transform: uppercase;
}

ul a {
  padding: 2px;
  margin: 5px;
}

ul a:hover {
  background-color: #eb43a3;
  padding: 5px;
}

.h1_title {
  padding: 50px 0 30px 0;
  text-align: center;
}

.arc-en-ciel {
  background-image: url("assets/images/rainbow.png");
  background-size: 360px;
  background-position-x: center;
  background-position-y: -10%;
  background-repeat: no-repeat;
}

.fond-main {
  background-color: #fff;
  padding: 20px;
  margin: 0px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 9px -1px #000000;
  box-shadow: 0px 0px 9px -1px #000000;
}

.title_star {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.fa-star {
  margin: 5px;
  color: #eb43a3;
}

figure {
  position: relative;
}

figcaption {
  width: 300px;
  position: absolute;
  bottom: 0px;
}

.img_licorne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.txt {
  margin-bottom: 10px;
  text-align: justify;
  font-size: 0.8rem;
}

.img_figure {
  margin-top: 20px;
}

.validate {
  color: #fff;
  background-color: #c55394;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
}

.newsletter {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.h3_newsletter {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.05rem;
}

.txt_newsletter {
  font-size: 0.8rem;
}

.mail_newsletter {
  padding-left: 5px;
}

figcaption {
  padding: 3px;
  background-color: rgba(51, 51, 51, 0.922);
  color: #fff;
  text-align: center;
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 10px;
  background-color: #e577b5;
  color: #fff;
  font-size: 0.7rem;
}