* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("assets/images/background.png");
  font-family: "Arial", sans-serif;
}

h1 {
  color: #c55394;
  font-family: "Courgette", sans-serif;
}

h2,
h3 {
  color: #eb43a3;
  font-family: "Courgette", "cursive";
}

h2 {
  width: 100%;
  margin-bottom: 10px;
}

.title {
  font-family: "Courgette", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

nav {
  margin-top: 10px;
}

li a {
  color: #fff;
  font-size: 0.7rem;
  text-decoration: none;
}

header {
  text-align: center;
  padding: 15px 0;
  background-color: #c55394;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-transform: uppercase;
}

ul a {
  padding: 2px;
  margin: 5px;
}

ul a:hover {
  background-color: #eb43a3;
  padding: 5px;
}

.h1 {
  padding: 50px 0 30px 0;
  text-align: center;
}

.arc-en-ciel {
  background-image: url("assets/images/rainbow.png");
  background-size: 360px;
  background-position-x: center;
  background-position-y: -10%;
  background-repeat: no-repeat;
}

.fond-main {
  background-color: #fff;
  padding: 20px;
  margin: 0px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 9px -1px #000000;
  box-shadow: 0px 0px 9px -1px #000000;
}

.fa-star {
  margin: 5px;
  color: #eb43a3;
}

figure {
  position: relative;
}

figcaption {
  width: 300px;
  position: absolute;
  bottom: 0px;
}

.img_licorne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.txt {
  margin-bottom: 10px;
  text-align: justify;
  font-size: 0.8rem;
}

#nos-licornes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img_figure {
  margin-top: 20px;
}

.validate {
  margin-top: 15px;
  color: #fff;
  background-color: #c55394;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

.newsletter {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.h3_newsletter {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.05rem;
}

.txt_newsletter {
  font-size: 0.8rem;
}

.mail_newsletter {
  padding: 5px;
}

figcaption {
  padding: 10px;
  background-color: rgba(51, 51, 51, 0.922);
  color: #fff;
  text-align: center;
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 10px;
  background-color: #e577b5;
  color: #fff;
  font-size: 0.7rem;
}

@media only screen and (min-width: 1200px) {
  .fond-main {
    width: 70%;
    margin: 0 auto;
  }

  h2 {
    margin-bottom: 30px;
    margin-top: 70px;
    margin-left: -5px;
  }

  header {
    padding: 15px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 50px;
  }

  .arc-en-ciel {
    background-size: 500px;
    background-position-y: 10%;
    background-position-x: 51%;
  }

  .title {
    text-align: left;
  }

  ul a {
    margin: 15px;
  }
  ul a:hover {
    background-color: #eb43a3;
    padding: 30px 10px 20px 10px;
  }

  #nos-licornes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .img_figure {
    margin: 0px;
  }

  li a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
  }

  main {
    padding: 0 2em;
  }

  .txt {
    font-size: 1rem;
  }

  iframe {
    height: 500px;
    width: 700px;
  }

  #nous-trouver {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  iframe {
    margin-left: 10px;
  }

  .information {
    margin-left: 20px;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0;
  }

  footer {
    margin-top: 50px;
    padding: 20px;
    font-size: 1rem;
  }
}
